/* debug */
.debug [class*=col-]{
  background-color: grey;
  border: 1px solid black;
  height: 300px;
}
/* general */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 2em;
}
li {
  list-style: none;
}
.azzurro {
  color: #006AFF;
}
.blue {
  color: #0034B1;
}
.border-left {
  border-left: 1px solid black;
}
i {
  padding-right: 2%;
}
div {
  padding: 1vh 0 1vh 0;
}
/* fixed menu */
.ms_fixed div {
  padding: 5px 0 5px 0;
}
.ms_fixed {
  background-color: white;
  font-size: 0.9em;
  width: 100%;
  z-index: 999;
}
.ms_fixed li {
  display: inline-block;
  padding: 3px;
}
.ms_fixed img {
  width: 200%;
}
.ms_fixed i {
  padding: 0;
}
/* jumbotron */
.ms_banner {
  background-image: url(../img/bg-dbaas-1-1799d4ba-1024x547.jpg);
  width: 100%;
  color: white;
}
.ms_banner h1 {
  font-size: 3em
}
.ms_banner .row div:last-child {
  background-color: white;
  color: black;
}
.ms_banner a {
  width: 100%;
}
.ms_banner .row div:last-child a:last-child {
  background-color: white;
  color: black;
}
.ms_banner .row div:last-child a:last-child img {
  width: 4%;
  float: left;
}
/* immagini bastarde */
.ms_img_bstrd {
  background-color: #F3F5F9;
}
.ms_img_bstrd a {
  font-size: 0.7em;
}
/* deploy and scale */
.ms_deploy li {
  margin-bottom: 5%;
  padding-left: 0;
}
/* designed */
.ms_designed {
  background-color: #F3F5F9;
}
.ms_designed i {
  display: inline-block;
}
.ms_designed img {
  display: inline-block;
  width: 100%;
}
.ms_designed .col-xs-1 {
  margin-top: 20%;
}
.ms_designed .row div:last-child p:first-child {
  font-size: 0.8em
}
/* service customers */
.ms_customer {
  background-color: #0034B1;
  color: white;
}
.ms_underline {
  border-bottom: 1px solid white;
}
.ms_underline,
.ms_customer .row div:last-child,
.ms_customer .row div:nth-last-child(2) {
   padding: 0;
 }
 .ms_customer .row div:last-child {
   padding: 0 0 0 5%;
 }
.ms_customer p,
.ms_customer a {
  font-size: 0.7em
}
.ms_customer p,
.ms_customer a,
.ms_customer h5 {
  padding-bottom: 0;
  margin-bottom: 0;
}
/* developpement */
.ms_develo {
  background-color: #F3F5F9;
}
.ms_rockerbox {
  background-color: white;
}
.ms_develo .col-xs-3 {
  margin-top: 13%;
}
/* get started */
.ms_get {
  background-color: #0034B1;
  color: white;
}
/* footer */
.ms_footer {
  background-color: #031C4E;
  color: white
}
